<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %} <!-- Bootstrap core CSS -->
            <link href="{{ asset('public\startbootstrap-shop-homepage-gh-pages\vendor\bootstrap\css\bootstrap.css') }}" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</html>
